<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet"> 
</head>
<body>
    <div class="navbar btn-">
        <p class="navbar-text">Паттерны в ABAP</p>
    </div>
    <div class="col-xs-2">
        @Html.Action("GetPatternTypes", "Home") 
        <br> 
        <br>
        @Html.RouteLink("Добавить",
                         new { controller = "Admin", action = "AddPattern" },
                         new { @class = "btn btn-info" })
    </div>
   
    <div class="col-xs-8">
        @RenderBody()
    </div>
</body>
</html>
