@model IEnumerable<Pattern>

@{
    ViewBag.Title = "Паттерны";
}

    @foreach (var p in Model) {
        <div class="well well-lg">
            @Html.Partial("_DecoratePatternItem", p)
            @Html.ActionLink("Редактировать", "EditPattern", null,
                        new { controller = "Admin", ptrnName = p.Name}, new { @class = "btn btn-info" } )
        </div>
    }
      